@media (min-width: 640px) {
    nav ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  
    #menu {
      display: none;
    }
  
    main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
  
    section {
      margin-bottom: 0;
    }
  
    .buttons {
      text-align: center;
      margin: 0.5rem 0;
    }
  
    .buttons button {
      margin: 0 0.5rem;
    }
    .card {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 1rem;
        margin: 1rem;
      }
  }
  